version: "3.7"

services: 
  mongodb:
    image: bitnami/mongodb:5.0
    restart: always
    ports:
      - 27017:27017

  mongoseed:
    image: bitnami/mongodb:5.0
    volumes:
      - .:/mongo
    command:
      "mongoimport --host mongodb --db finance --collection revenue --drop --type json --file /mongo/revenue.json --jsonArray && \
      mongoimport --host mongodb --db finance --collection expenditure --drop --type json --file /mongo/expenditure.json --jsonArray"
    depends_on:
      - mongodb